@define-color fg #888071;
@define-color sepcolor #6B6863;
@define-color bg #090E13;
@define-color bordercolor #1a1f24;
@define-color disabled #A5A5A5;
@define-color warning #938AA9;
@define-color alert #C13F42;
@define-color activegreen #7AA89F;
@define-color highlight #E6C384;

* {
  min-height: 25px;
  font-size: 15px;
  font-family: "BerkeleyMonoRh Nerd Font";
}

window#waybar {
  color: @fg;
  background: rgba(9, 14, 19, 0.95);
  transition-property: background-color;
  transition-duration: 1s;
  border: 2px solid @bordercolor;
  border-radius: 8px;
  opacity: 1.0;
}

window#waybar.empty {
  opacity: 0.3;
}

.hidden {
  opacity: 0;
  margin-left: -6px;
}

button {
  box-shadow: inset 0 -3px transparent;
  border: none;
}

button:hover {
  background: inherit;
  box-shadow: inset 0 -3px transparent;
}

#workspaces button {
  color: @fg;
  padding: 0px 7px;
  background: rgba(9, 14, 19, 0.8);
  border-radius: 4px;
  margin: 2px;
}

#workspaces button:hover {
  color: @highlight;
}

#workspaces button.empty:hover {
  color: @highlight;
}

#workspaces button.urgent {
  color: @alert;
}

#workspaces button.empty {
  color: @fg;
}

#workspaces button.active {
  color: @highlight;
}

#workspaces {
  margin-left: 7px;
}

#window {
  background: rgba(26, 31, 36, 0.8);
  border-radius: 6px;
  padding: 0px 12px;
  margin: 3px 5px;
  font-weight: 500;
}

#submap {
  background: rgba(230, 195, 132, 0.2);
  color: @highlight;
  border-radius: 6px;
  padding: 0px 10px;
  margin: 3px 5px;
  font-weight: bold;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#language,
#backlight,
#backlight-slider,
#network,
#wireplumber,
#custom-media,
#taskbar,
#mode,
#idle_inhibitor,
#scratchpad,
#custom-power,
#custom-notification,
#window,
#keyboard-state,
#bluetooth,
#custom-vpn,
#mpd
#tray {
  background: transparent;
  border: none;
  padding: 0px 5px;
  margin: 3px 3px;
  color: @fg;
}

#custom-thm-cpu,
#custom-thm-amd,
#custom-thm-nvidia,
#custom-thm-nvme,
#custom-thm-amb,
#custom-thm-pwr,
#custom-thm-batv,
#custom-thm-bati,
#custom-thm-fan,
#mpd {
  background: transparent;
  border: none;
  padding: 0px 4px;
  margin: 2px 2px;
}

#custom-clock.local {
  color: @fg;
}

#custom-clock.nonlocal {
  color: @highlight;
}

#clock:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#disk:hover,
#temperature:hover,
#language:hover,
#backlight:hover,
#backlight-slider:hover,
#network:hover,
#wireplumber:hover,
#custom-media:hover,
#taskbar:hover,
#mode:hover,
#idle_inhibitor:hover,
#scratchpad:hover,
#custom-power:hover,
#custom-notification:hover,
#window:hover,
#keyboard-state:hover,
#bluetooth:hover,
#custom-vpn:hover,
#mpd:hover,
.bar_item:hover {
  color: @highlight;
}

#custom-separator {
  color: @sepcolor;
}

#custom-power {
  color: @fg;
  padding-left: 10px;
}

#tray {
  background-color: rgba(26, 31, 36, 0.9);
  border-radius: 6px;
  border: 1px solid @bordercolor;
  padding: 0px 10px;
  margin: 5px;
}

#battery.charging,
#battery.plugged {
  color: @activegreen;
}

label:focus {
  background-color: @bg;
}

#pulseaudio.warning,
#wireplumber.warning {
  color: @warning;
}

#pulseaudio.critical,
#wireplumber.critical {
  color: @alert;
}

#network.disconnected,
#pulseaudio.muted,
#battery.critical:not(.charging),
#wireplumber.muted {
  color: @alert;
}

tooltip {
  border-radius: 8px;
  background-color: rgba(9, 14, 19, 0.95);
  border: 1px solid @bordercolor;
  color: #f2f2f2;
  opacity: 1.0;
  padding: 8px;
}


